body {
  font-family: Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.scroller {
  margin: 0 0 5em;
}

.item {
  width: 500px;
  padding: 50px;
  text-align: center;
  border: 1px solid;
}

.narrow .scroller-scrollbar,
.narrow .scroller-navigation {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: auto;
  padding: 0;
  line-height: 0;
}

.image img {
  max-height: 374px;
}
